@import "tailwindcss";
.arrow-svg {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.draw-arrow {
  stroke-width: 5;
  stroke: dodgerblue;
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 1s ease-in-out forwards;
}

.tail-2 {
  stroke-width: 5;
  stroke: dodgerblue;
  fill: none;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  opacity: 0;
  animation: draw-tail 1s ease-in forwards, fade-in 0.5s ease-in forwards;
  animation-delay: 0.2s; /* Starts after main arrow finishes */
}

@keyframes draw {
  0% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-tail {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gradient-bg {
  background: #ffffff;
  background: linear-gradient(50deg, rgba(255, 255, 255, 0) 50%, rgba(187, 195, 255, 0.59) 100%);
}

.reversed-gradient-bg {
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(187, 195, 255, 0.59) 100%);
}
.animated_underscore {
  animation: underscore-animation 0.8s infinite;
}
.bg-lightblue {
  background-color: #1e90ff;
}

.text-primary {
  color: #1e90ff;
}

.text-secondary {
  color: rgb(219, 219, 219);
}

.border-primary {
  border: solid 1px #1e90ff;
}

.outline-primary:hover {
  outline: solid;
  outline-width: 2px;
  outline-color: #1e90ff;
}

@keyframes underscore-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  overflow-x: hidden;
}

.footer {
  margin-top: 120px;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.logo {
  max-width: 200px;

  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.description {
  margin-top: 5px;

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.wrapper {
  width: 160px;
}

.link {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  font-family: Outfit, var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.social {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}
